{{> header}}
{{> navbar}}

    <script src='https://js.stripe.com/v3/'></script>
    <link href="/css/account.css" rel="stylesheet">

    <body>
        <div>
            <div class="product-card">
                <div class="accountTitle">
                    Account Information
                </div>
                <div class="divline"></div>
                <div class="accountInfo">
                    User:  <strong>{{user_name}}</strong><br>
                    Discord ID:  <strong>{{user_id}}</strong><br>
                    Email:  <strong>{{email}}</strong>
                </div>
                <div style="overflow-x:auto;">
                    <table class="accountTable">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                    <div class="fineprint">
                        On Mobile? Swipe left above for more info.
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <button class="discordButton" onClick="window.location.href = 'https://discord.com/channels/{{guild_id}}';">
                        <img src="/img/joinTheChat.png" />
                    </button>
                    <div>
                        <strong>
                            Don't have Discord on your Phone?
                        </strong>
                    </div>
                    <button class="discordButton" onClick="window.location.href = 'https://play.google.com/store/apps/details?id=com.discord&hl=en_US&gl=US';">
                        <img src="/img/getItOnGooglePlay.png" />
                    </button>
                    <button class="discordButton" onClick="window.location.href = 'https://apps.apple.com/us/app/discord-talk-chat-hang-out/id985746746';">
                        <img src="/img/downloadOnTheAppStore.png" />
                    </button>
                </div>
            </div>
            <br>
            <div class='fineprint'>
                The account management buttons in the subscriptions table will redirect you to a secure Stripe checkout page.
                Cancel your monthly donation at any time from this same URL or from the Account page when viewing the map.
                Please visit the discord support channel or direct message an admin for assistance.
                <br>Refunds may be given upon request for dissatisfaction of service within 7 days.
                We NEVER receive, store, or view any sensitive customer credit card information.
                All of our credit card processing is managed directly and solely by Stripe, a PCI Level 1 Compliant
                Service Provider.<br>
                <a href=https://stripe.com/docs/security/stripe>https://stripe.com/docs/security/stripe </a><br> 
                Do not redistribute data outside of donor channels. Doing so will result in immediate revokation of all access.
                Due to the nature of these services, there are no guarantees or refunds for donations due to outages.
                {{guild_name}} is a Non-Profit service. We are not associated with Niantic, ThePokemonCompany, or any of
                it's subsidiaries. All spawn locations, POIs, and data are crowd-sourced by the local community.
                </div>
            </div>

        <script>
            const user_id = '{{user_id}}';
            const user_name = '{{user_name}}';
            const user_email = '{{email}}';
            const guild_id = '{{guild_id}}';
            const reference_id = user_name + ' - ' + user_id;
            const stripe = Stripe('{{key}}');
            const processed = ('{{subscriptions}}').replace(/&quot;/g,'"');
            const subscriptions = JSON.parse(processed);
            var bodyString = '';
            const domain = location.href.replace(/[^/]*$/, '');
            if(subscriptions.length > 0){
                $('.accountTable thead').html('<tr><th>Subscription:</th><th>Member Since:</th><th>Next Payment:</th><th>End Date:</th><th>Renew/Update:</th><th>Cancel:</th></tr>');
                subscriptions.forEach((sub,index) => {
                    let updatebutton, cancelbutton;
                    if(sub.reactivatable){
                        updatebutton = '<button class="updateButton" onclick="reactivate(\'' + sub.subscription_id + '\')" id="reactivate">Re-Activate</button>';
                    } else if(sub.renewable){
                        updatebutton = '<button class="updateButton" onclick="charge(\'' + sub.plan_id + '\',\'' + sub.customer_id + '\')" id="renew">Renew</button>';
                    } else if(sub.update_payment){
                        updatebutton = '<button class="updateButton" onclick="update(\'' + sub.session_id + '\')" id="update">Update Card</button>';
                    } else {
                        updatebutton = '<button class="deadButton">N/A</button>';
                    }
                    if(!sub.next_payment){
                        if(sub.lifetime){
                            sub.next_payment = 'Lifetime';
                        } else {
                            sub.next_payment = 'N/A';
                        }
                    }
                    if(!sub.created){
                        if(sub.lifetime){
                            sub.created = 'Lifetime';
                        } else {
                            sub.created = 'Unk';
                        }
                    }
                    if(!sub.end_date){
                        sub.end_date = 'N/A';
                    } else {
                        sub.end_date = `<strong>${sub.end_date}</strong>`;
                    }
                    if(sub.cancellable){
                        cancelbutton = '<button class="cancelButton" onclick="cancel(\'' + sub.customer_id + '\')" id="cancel">Cancel</button>';
                    } else {
                        cancelbutton = '<button class="deadButtonCancel">N/A</button>';
                    }
                    bodyString += '<tr>';
                    bodyString += '<td>'+sub.subscription+'</td><td>'+sub.created+'</td><td>'+sub.next_payment+'</td>';
                    bodyString += '<td>'+sub.end_date+'</td><td>'+updatebutton+'</td><td>'+cancelbutton+'</td>';
                    bodyString += '</tr>';
                });
                $('.accountTable tbody').html(bodyString);
            } else {
                $('.accountTable thead').html('You do not have an Active Subscription.');
            }

            function update(session_id){
                stripe.redirectToCheckout({
                    sessionId: session_id
                }).then(handleResult);
            }

            function cancel(customer_id) {
                window.location.href = `cancel?customer_id=${customer_id}`;
            }

            function reactivate(customer_id) {
                window.location.href = `reactivate?customer_id=${customer_id}`;
            }

            function charge(plan_id, customer_id){
                stripe.redirectToCheckout({
                    mode: 'payment',
                    lineItems: [{
                    price: plan_id,
                    quantity: 1,
                    }],
                    successUrl: domain + 'success?session_id={CHECKOUT_SESSION_ID}',
                    cancelUrl: domain + 'account',
                    customer: customer_id,
                    clientReferenceId: reference_id,
                }).then(handleResult);
            }

            var modal = document.getElementById(window.location.search.replace('?', '').split('&')[0]);
            if(modal){
                modal.style.display = 'block';
            }
            setTimeout(() => {
                modal.style.display = 'none';
            }, 15000);
            var span = document.getElementsByClassName('close')[0];
            span.onclick = function() { modal.style.display = 'none'; };
            window.onclick = function(event) {
                if(event.target == modal) { modal.style.display = 'none'; }
            };
        </script>

        <div class="modal">
            <div id="cancel-success" class="modal-cancel-success">
                <span class="close">&times;</span>
                <p><strong>You have Successfully Cancelled your Subscription!</strong></p>
            </div>
            <div id="reactivate-success" class="modal-reactivate-success">
                <span class="close">&times;</span>
                <p><strong>You have Successfully Re-Activated your Subscription!</strong></p>
            </div>
            <div id="cancel-error"class="modal-cancel-error">
                <span class="close">&times;</span>
                <p><strong>There has been an error cancelling your subscription! Please contant a Discord admin.</strong></p>
            </div>
            <div id="reactivate-error" class="modal-reactivate-error">
                <span class="close">&times;</span>
                <p><strong>There has been an error re-activating your subscription! Please contant a Discord admin.</strong></p>
            </div>
        </div>
    </div>
    </body>

{{> footer}}
