.content {
    max-width: 480px;
    margin: auto;
    text-align: center;
}
.information {
    font-size: 10pt;
}
.fineprint {
    font-size: 8pt;
}
body {
    margin: 50px auto;
    background-color: #F6F6F6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.subscribeButton {
    box-shadow: 0px 10px 16px -7px #9acc85;
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    background-color:#74ad5a;
    border-radius:10px;
    border:2px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    padding:8px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #92b879;
}
.subscribeButton:hover {
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    background-color:#68a54b;
}
.subscribeButton:active {
    position:relative;
    top:1px;
}