{{> header}}
{{> navbar}}

<script src='https://js.stripe.com/v3/'></script>

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        height: 100vh;
        display: block;
        background: #c9c9c9;
        font-family: Arial, Helvetica;
        margin: 10 auto;
        text-align: center;
    }

    .fineprint {
        margin: auto;
        width: 700px;
        font-size: 8pt;
        text-align: center;
    }

  .product-card {
        width: 800px;
        height: auto;
        display: flex;
        background: white;
        padding: 10px 10px 10px 10px;
        box-shadow: 0 0 8px #000;
        border-radius: 0px 0px 20px 20px;
        text-align: center;
        justify-content: center;
        margin: auto;
    }

    .product-card .left-column {
        width: 50%;
        font-size: 12px;
        display: table;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .product-card .left-column img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        border-radius: 15px 15px 15px 15px;
        border: 2px solid black;
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
    }

    .product-card .left-column .image-choose {
        width: 330px;
        margin-bottom: 5px;
        text-align: center;
        margin: auto;
    }

    .product-card .left-column .image-choose button {
        border: 2px solid #E1E8EE;
        border-radius: 6px;
        padding: 2px 4px;
        font-size: 13px;
        color: #5E6977;
        background-color: #fff;
        transition: all .5s;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .product-card .left-column .image-choose button:hover,
    .product-card .left-column .image-choose button:focus {
        border: 2px solid #86939E;
        outline: none;
    }

    .product-card .left-column .image-choose button:active {
        border: 2px solid #00580A;
        color: #779876;
    }

    .product-card .left-column .image-choose a {
        color: #358ED7;
        text-decoration: none;
        font-size: 12px;
        display: table;
    }

    .product-card .left-column .image-choose a:before {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid rgba(53, 142, 215, 0.5);
        display: inline-block;
        text-align: center;
    }

    .product-card .right-column {
        width: 50%;
        position: relative;
        overflow: hidden;
        display: table;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

    .product-card .right-column .joinDiscord {
        font-size: 24pt;
        font-weight: bold;
    }

    .product-card .right-column .mapname {
        font-size: 24pt;
        font-weight: bold;
    }

    .product-card .right-column .rolename {
        font-size: 16pt;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .product-card .right-column .information {
        font-size: 11pt;
        position: relative;
    }

    .product-card .right-column .bullets {
        font-weight: bold;
        font-size: 12pt;
        margin-top: 5px;
        position: relative;
        line-height: 1.8;
    }

    .product-card .right-column .description {
        font-size: 8pt;
        maring-top: 5px;
        text-align: center;
        position: relative;
    }

    @media screen and (max-width:830px) {

        .fineprint {
            margin: auto;
            width: 380px;
            font-size: 8pt;
            text-align: center;
        }

        .product-card {
            width: 400px;
            height: auto;
            flex-direction: column;
            text-align: left;
        }

        .product-card .left-column {
            width: 100%;
            font-size: 9pt;
        }

        .product-card .left-column img {
            width: 90%;
        }
      
        .product-card .left-column .image-choose {
            width: 100%;
        }

        .product-card .left-column .image-choose button {
            border: 2px solid #E1E8EE;
            border-radius: 6px;
            padding: 1px 1px;
            font-size: 14px;
            color: #5E6977;
            background-color: #fff;
            transition: all .5s;
        }

        .product-card .right-column {
            width: 100%;
        }

        .product-card .right-column .mapname {
            font-size: 24pt;
            font-weight: bold;
        }

        .product-card .right-column .rolename {
            font-size: 16pt;
            font-weight: bold;
        }

        .product-card .right-column .bullets {
            font-weight: bold;
            font-size: 12pt;
            margin-top: 5px;
            margin-left: 5px;
            position: relative;
            line-height: 1.5;
        }

        .product-card .left-column .image-choose button {
            border: 2px solid #E1E8EE;
            border-radius: 6px;
            padding: 2px 2px;
            font-size: 10px;
            color: #5E6977;
            background-color: #fff;
            transition: all .5s;
            margin-top: 4px;
        }
    }

    @media screen and (max-width:400px) {
        .product-card {
            width: 300px;
            height: auto;
        }

        .product-card .right-column .bullets {
            font-weight: bold;
            font-size: 12pt;
            margin-top: 5px;
            position: relative;
            line-height: 1.4;
        }
    }

    @media screen and (max-width:320px) {
        .product-card {
            width: 280px;
            height: auto;
        }
    }

    .buttons {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .buttons .subscribe {
        box-shadow: 0px 10px 16px -7px #9acc85;
        background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
        background-color: #74ad5a;
        border-radius: 10px;
        border: 2px solid #3b6e22;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        padding: 8px 16px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #92b879;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 90%;
    }

    .buttons .subscribe:hover {
        background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        background-color: #68a54b;
    }

    .buttons .subscribe:active {
        position: relative;
        top: 1px;
    }
</style>

<body>
    <div>
        <div class='product-card'>

            <div class='left-column'>

                <div>
                    <img src='/img/subscribe/1.png' alt='screenshot'>

                    <div class='image-choose'>
                        Map Screenshots:<br>
                        <button id='1'>All</button>
                        <button id='2'>Gyms/Raids</button>
                        <button id='3'>Quests</button>
                        <button id='4'>Nests</button>
                        <button id='5'>Invasions</button>
                        <button id='6'>Weather</button>
                        <button id='7'>S2 Cells</button>
                        <button id='8'>Spawnpoints</button>
                    </div>

                    <div class='image-choose'>
                        Discord Screenshots:<br>
                        <button id='9'>Alert Options</button>
                        <button id='10'>Channel Feeds</button>
                        <button id='11'>DM Alerts</button>
                    </div>
                </div>
            </div>

            <div class='right-column'>

                <div class = "joinDiscord">
                    <form action="https://discord.com/channels/{{guild_id}}">
                        <img src='/img/joinDiscordButton.png' alt='Join Discord'>
                    </form>
                </div>

                <div class='mapname'>
                    {{map_name}}
                </div>

                <div class='rolename'>
                    Gold Star Trainer Status
                </div>

                <div class='information'>
                    Choose recurring until cancelled or single month access.<br>
                    This donation gives you:
                </div>

                <div class='bullets'>
                    - Complete and Unrestricted Access -
                    <br>
                    - Map with hundreds of filtering options -
                    <br>
                    - Customizeable Discord DM Alerts -
                    <br>
                    - Pre-configured Discord Channel Feeds -
                    <br>
                    - Exclusive Gold Star Trainer Lounge Chat -
                </div>
                <!--
                <div class='buttons'>
                    <button id='recurring' class='subscribe'>
                        <i class='fas fa-map-marked-alt'></i> Donate ${{amt1}} Monthly
                    </button>
                    <button id='onemonth' class='subscribe'>
                        <i class='fas fa-map-marked-alt'></i> Donate ${{amt2}} One-Time
                    </button>
                </div>
                -->

                <div class='description'>
                    The above buttons will redirect you to a secure Stripe checkout page.
                    Cancel your monthly donation at any time from this same URL or from the Account page when viewing the map.
                </div>
            </div>
        </div>

        <div class='fineprint'>
            <br>Refunds may be given upon request for dissatisfaction of service within 7 days.
            We NEVER receive, store, or view any sensitive customer credit card information.
            All of our credit card processing is managed directly and solely by Stripe, a PCI Level 1 Compliant
            Service Provider.<br>
            <a href=https://stripe.com/docs/security/stripe>https://stripe.com/docs/security/stripe </a><br> 
            Do not redistribute data outside of donor channels. Doing so will result in immediate revokation of all access.
            Due to the nature of these services, there are no guarantees or refunds for donations due to outages.
            {{map_name}} is a Non-Profit service. We are not associated with Niantic, ThePokemonCompany, or any of
            it's subsidiaries. All spawn locations, POIs, and data are crowd-sourced by the local community.
        </div>
        
        <script type='text/javascript'>

            const user_id = '{{user_id}}';
            const user_name = '{{user_name}}';
            const user_email = '{{email}}';
            
            const guild_id = '{{guild_id}}';
            console.log(guild_id);
            const recurring_id = '{{recurring_id}}';
            const onetime_id = '{{onetime_id}}';
            const reference_id = user_name + ' - ' + user_id;
            const domain = location.href.replace(/[^/]*$/, '');
            const stripe = Stripe('{{key}}');

            var handleResult = function (result) {
                if (result.error) {
                    var displayError = document.getElementById('error-message');
                    displayError.textContent = result.error.message;
                }
            }
            
            document.getElementById('recurring').addEventListener('click', function (e) {
                stripe.redirectToCheckout({
                    mode: subscription,
                    lineItems: [{
                    price: recurring_id,
                    quantity: 1
                }],
                    successUrl: domain + `success?session_id={CHECKOUT_SESSION_ID}&plan_id=${recurring_id}&guild_id=${guild_id}&user_id=${user_id}`,
                    cancelUrl: domain + 'subscribe',
                    customerEmail: user_email,
                    clientReferenceId: reference_id,
                }).then(handleResult);
            });

            document.getElementById('onemonth').addEventListener('click', function (e) {
                stripe.redirectToCheckout({
                    mode: 'payment',
                    lineItems: [{
                        price: onetime_id,
                        quantity: 1,
                    }],
                    successUrl: domain + `success?session_id={CHECKOUT_SESSION_ID}&plan_id=${onetime_id}&guild_id=${guild_id}&user_id=${user_id}`,
                    cancelUrl: domain + 'subscribe',
                    customerEmail: user_email,
                    clientReferenceId: reference_id,
                }).then(handleResult);
            });

            const image = document.querySelector('.left-column img');

            document.getElementById('1').addEventListener('click', () => {
                image.src = '/img/subscribe/1.png';
            });

            document.getElementById('2').addEventListener('click', () => {
                image.src = '/img/subscribe/2.png';
            });

            document.getElementById('3').addEventListener('click', () => {
                image.src = '/img/subscribe/3.png';
            });

            document.getElementById('4').addEventListener('click', () => {
                image.src = '/img/subscribe/4.png';
            });

            document.getElementById('5').addEventListener('click', () => {
                image.src = '/img/subscribe/5.png';
            });

            document.getElementById('6').addEventListener('click', () => {
                image.src = '/img/subscribe/6.png';
            });

            document.getElementById('7').addEventListener('click', () => {
                image.src = '/img/subscribe/7.png';
            });

            document.getElementById('8').addEventListener('click', () => {
                image.src = '/img/subscribe/8.png';
            });

            document.getElementById('9').addEventListener('click', () => {
                image.src = '/img/subscribe/9.png';
            });

            document.getElementById('10').addEventListener('click', () => {
                image.src = '/img/subscribe/10.png';
            });

            document.getElementById('11').addEventListener('click', () => {
                image.src = '/img/subscribe/11.png';
            });
        </script>
    </div>
</body>

{{> footer}}