{{> header}}
{{> navbar}}

    <script src="https://js.stripe.com/v3/"></script>

    <style>
        .content {
            max-width: 480px;
            margin: auto;
            text-align: center;
        }
        .information {
            font-size: 10pt;
        }
        .fineprint {
            font-size: 8pt;
        }
        body {
            margin: 50px auto;
            background-color: #F6F6F6;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .subscribeButton {
            box-shadow: 0px 10px 16px -7px #9acc85;
            background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
            background-color:#74ad5a;
            border-radius:10px;
            border:2px solid #3b6e22;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:18px;
            font-weight:bold;
            padding:8px 16px;
            text-decoration:none;
            text-shadow:0px 1px 0px #92b879;
        }
        .subscribeButton:hover {
            background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
            background-color:#68a54b;
        }
        .subscribeButton:active {
            position:relative;
            top:1px;
        }
    </style>

    <script>
        var PUBLISHABLE_KEY = '{{key}}';
        var plan_id = '{{plan}}';
        var user_id = '{{user_id}}';
        var user_name = '{{user_name}}';
        var refId = user_name + ' - ' + user_id;
        var DOMAIN = location.href.replace(/[^/]*$/, '');
        const stripe = Stripe(PUBLISHABLE_KEY);

        var handleResult = function (result) {
            if (result.error) {
                var displayError = document.getElementById('error-message');
                displayError.textContent = result.error.message;
            }
        }
        document.getElementById('Create').addEventListener('click', function (e) {
            stripe.redirectToCheckout({
                mode: e.target.dataset.checkoutMode,
                lineItems: [{
                    price: e.target.dataset.priceId,
                    quantity: 1
                }],
                successUrl: DOMAIN + `success?session_id={CHECKOUT_SESSION_ID}&plan_id=${plan_id}&user_id=${user_id}`,
                cancelUrl: DOMAIN + 'subscribe',
                customerEmail: '{{email}}',
                clientReferenceId: refId,
            }).then(handleResult);
        });
    </script>

    <div>
        <center>
            <div>
                <h2>Gold Star Trainer Status</h2>
                <button id="Create" class="subscribeButton" data-checkout-mode="subscription" data-price-id="<%= plan %>"> Donate $<%= amt/100 %>/mo </button>
                <div class="information">
                    <p>
                    The above button will redirect you to a secure Stripe checkout page.<br>
                    Cancel anytime from this same URL or from the Map Account Management Button.
                    </p>
                    <h3>This recurring donation will give you access to:</h3>
                    <p>
                    >>> Full and Detailed Map <<< <br>
                    >>> Discord DM Alerts for anything and everything. <<< <br>
                    >>> Pre-Set Discord Feeds for Raids, Pokemon, and Quests. <<< <br>
                    </p>
                </div>
            </div>
            <br>
            <hr>
            <div class="content">
                <br>
                <div class="fineprint">
                    <p>Refunds may be given upon request for dissatisfaction of serice within 7 days.</p>
                    <p>We NEVER receive, store, or view any sensitive customer credit card information.  All of our credit card processing is managed directly and solely by Stripe, a PCI Level 1 Compliant Service Provider.</p>
                    <a href=https://stripe.com/docs/security/stripe>https://stripe.com/docs/security/stripe</a>
                    <p>Do not redistribute data outside of donor channels. Doing so will result in immediate revokation of all access. Due to the nature of these services, there are no guarantees or refunds for donations. <%= map_name %> is a Non-Profit service.</p>
                    <p>We are not associated with Niantic, ThePokemonCompany, or any of it"s subsidiaries.</p>
                    <p><strong>All spawn locations, POIs, and data are "crowd-sourced" by the community.</strong></p>
                    <br>
                </div>
            </div>
        </center>
    </div>

{{> footer}}
